/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #09aefa -29.09%,
    #36c6ff 51.77%,
    #3936ff 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: unset;
}

button {
  font-family: serif;
  border-radius: 3px;
  filter: drop-shadow(1.5px 1.5px 1.5px black);
  background-color: #c5eafa;
}

button:hover {
  background-color: #50a2ff;
  cursor: pointer;
}

button:active {
  background-color: cornflowerblue;
  cursor: pointer;
  box-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  transform: scale(0.97);
  outline: 1px black;
}

button:focus {
  outline: thin;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  height: 100%;
}

.backgroundImage img {
  object-fit: contain;
  width: 100%;
  opacity: 0.2;
}
